<h1>All tags</h1>

<ul>
	<% Tag.all.each do |tag| %>
	<li>
		<%= link_to tag.name, tag_path(tag) %>
		<%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "really delete tag?"}  %>
	</li>
	<% end %>
</ul>